/.idea/
/Data/.idea/

# Another mod folders
/Data/Public/DedTuned_de9f3db5-7ca9-a872-75d4-3cc4a09a90cd/
/Data/Mods/DedTuned_de9f3db5-7ca9-a872-75d4-3cc4a09a90cd/
/Data/DedTuned_de9f3db5-7ca9-a872-75d4-3cc4a09a90cd/
/Data/Projects/DedTuned_de9f3db5-7ca9-a872-75d4-3cc4a09a90cd/
/Data/Editor/Mods/DedTuned_de9f3db5-7ca9-a872-75d4-3cc4a09a90cd/

# some strange binary file
/Data/Mods/DedTuned_de9f3db5-7ca9-a872-75d4-3cc4a09a90cd/GUI/metadata.lsf

# BG3 stock files
/Data/*.pak

# BG3 stock folders
/Data/Video/
/Data/Mods/Gustav/
/Data/Mods/GustavDev/
/Data/Mods/Shared/
/Data/Mods/SharedDev/
/Data/Editor/Mods/DiceSet_01/
/Data/Editor/Mods/DiceSet_02/
/Data/Editor/Mods/DiceSet_03/
/Data/Editor/Mods/DiceSet_06/
/Data/Editor/Mods/Engine/
/Data/Editor/Mods/Gustav/
/Data/Editor/Mods/GustavDev/
/Data/Editor/Mods/MainUI/
/Data/Editor/Mods/ModBrowser/
/Data/Editor/Mods/Shared/
/Data/Editor/Mods/SharedDev/
/Data/Editor/MEIEditor/
/Data/Editor/Hints/
/Data/Editor/Help/
/Data/Editor/Gizmos/
/Data/Editor/Config/
/Data/Editor/Preview/
/Data/Editor/Shared/
/Data/Editor/Temp/
/Data/Editor/Textures/
/Data/Editor/Triggers/
/Data/Generated/Public/Engine/
/Data/Public/Engine/
/Data/Public/Shared/
/Data/Public/UserTemp/
/Data/Projects/GustavDev/
/Data/Localization/Russian/
/Data/Localization/English.pak
/Data/Localization/English_Animations.pak
/Data/Localization/language.lsx
/Data/Localization/Voice.pak
/Data/Localization/VoiceMeta.pak
/Data/_dbcache_/loca.db